<div class="btn-container-filter">

  <div class="select-container">
    <label class="hidden">{{ select-btn-1-label }}</label>
    <select class="select-button-1" name="{{ select-btn-1-name }}" id="{{ select-btn-1-id }}">
      <option value="">{{ btn-1-value-1 }}</option>
      <option value="{{ btn-1-value-2 }}">{{ btn-1-value-2 }}</option>
      <option value="{{ btn-1-value-3 }}">{{ btn-1-value-3 }}</option>
      <option value="{{ btn-1-value-4 }}">{{ btn-1-value-4 }}</option>
      <option value="{{ btn-1-value-5 }}">{{ btn-1-value-5 }}</option>
      <option value="{{ btn-1-value-6 }}">{{ btn-1-value-6 }}</option>
      <option value="{{ btn-1-value-7 }}">{{ btn-1-value-7 }}</option>
      <option value="{{ btn-1-value-8 }}">{{ btn-1-value-8 }}</option>
      <option value="{{ btn-1-value-9 }}">{{ btn-1-value-9 }}</option>
      <option value="{{ btn-1-value-10 }}">{{ btn-1-value-10 }}</option>
      <option value="{{ btn-1-value-11 }}">{{ btn-1-value-11 }}</option>
      <option value="{{ btn-1-value-12 }}">{{ btn-1-value-12 }}</option>
      <option value="{{ btn-1-value-13 }}">{{ btn-1-value-13 }}</option>
      <option value="{{ value-nnb }}">{{ value-nmb }}</option>
    </select>
  </div>
</div>
