<article class="card-container-child">
    <figure class="card-container-image">
        <picture>
            <source media="(max-width: 360px)" type="image/avif" srcset="https://fdnd-agency.directus.app/assets/{{ img-src }}?format=avif&width=360">
            <source media="(max-width: 360px)" type="image/webp" srcset="https://fdnd-agency.directus.app/assets/{{ img-src }}?format=webp&width=360">

            <source media="(max-width: 720px)" type="image/avif" srcset="https://fdnd-agency.directus.app/assets/{{ img-src }}?format=avif&width=720">
            <source media="(max-width: 720px)" type="image/webp" srcset="https://fdnd-agency.directus.app/assets/{{ img-src }}?format=webp&width=720">

            <source media="(min-width: 900px)" type="image/avif" srcset="https://fdnd-agency.directus.app/assets/{{ img-src }}?format=avif&width=900">
            <source media="(min-width: 900px)" type="image/webp" srcset="https://fdnd-agency.directus.app/assets/{{ img-src }}?format=webp&width=900">

            <source media="(min-width: 1100px)" type="image/webp" srcset="https://fdnd-agency.directus.app/assets/{{ img-src }}?format=webp&width=1100">
            <source media="(min-width: 1600px)" type="image/avif" srcset="https://fdnd-agency.directus.app/assets/{{ img-src }}?format=avif&width=1600">

            <img class="card-image" src="https://fdnd-agency.directus.app/assets/{{ img-src }}" alt="{{ card-title }}" width="{{ img-width }}" height="{{ img-height }}">
        </picture>
    </figure>

    <div class="label-container">
        {% render 'partials/category-label.liquid', text: card-label %} 
    </div>

    <time class="card-date-location event-date" datetime="01-01-2024">
      <span>{{ card-date }}</span>
      <span>/ {{ card-location }}</span>
    </time>

    <{{ heading-level }} class="card-title {{ class }}"> {{ card-title }} </{{ heading-level }}>

    <div class="card-container-button">
      {% render 'partials/link-href.liquid', link: card-href-link, linktext: 'DETAILS' %} 
    </div>
</article>


    
