{% render 'partials/head.liquid' %}
<script src="scripts/script.js" defer></script>

<main>
{% render 'partials/header.liquid' %}


<section class="organisation-section-container">
    {% for team in teams %}
    <div class="employe-card-container">
        <figure class="employe-image-container">
            <picture>
               <source type="image/avif" srcset="https://fdnd-agency.directus.app/assets/{{ team.photo.id }}?format=avif&width=600">
               <source type="image/webp" srcset="https://fdnd-agency.directus.app/assets/{{ team.photo.id }}?format=webp&width=600">
                <img class="employe-image" src="https://fdnd-agency.directus.app/assets/{{ team.photo.id }}" alt="{{ team.name }}" width="258" height="450">
            </picture>
        </figure>

        <p class="employe-name">{{ team.name }}</p>

        <div class="employe-specialty">
            <small class="">{{ team.function }}</small>
        </div>

        <div class="connect-links">
            <a href="mailto:{{ team.email }}" class="link">
                email
                <img src="img/blue-arrow-up.svg" alt="email icon" width="16" height="16">
            </a>

            <a class="link" href="{{ team.linkedin }}" target="_blank">
                LinkedIn
                <img src="img/blue-arrow-up.svg" alt="arrow-right" width="16" height="16">
            </a>
        </div>
    </div>
    {% endfor %}
</section>












</main>