{% assign pageTitle = "Publicaties - Dutch Digital Agencies" %}
{% render 'partials/head.liquid', pageTitle: pageTitle %}
<link rel="stylesheet" href="/styles/publicaties.css">

<main class="main-home">
{% render 'partials/header.liquid' %}

<section class="hero">
    {% render 'partials/backtohome-redirect.liquid' %}
    <h2 class="xxxl">PUBLICATIES</h2>
    <p>Om er voor te zorgen dat ook jij op de hoogte blijft van het laatste nieuws en interessante opinies met betrekking tot onze branche en digitale innovaties, delen we hier alle content die we of zelf hebben gecreëerd, bijvoorbeeld met input van onze leden, of verkregen hebben via één van onze partners.</p>
</section>

<section class="publication-card-container">
  {% for publicatie in publications %}
    <div class="publication-card">
        <figure class="publication-image-container">
            <picture>
               <source type="image/avif" srcset="https://fdnd-agency.directus.app/assets/{{ publicatie.photo.id }}?format=avif&width=600">
               <source type="image/webp" srcset="https://fdnd-agency.directus.app/assets/{{ publicatie.photo.id }}?format=webp&width=600">
                <img class="publication-image" src="https://fdnd-agency.directus.app/assets/{{ publicatie.photo.id }}" alt="" width="258" height="450">
            </picture>
        </figure>

        <div class="card-content-data-publication">

           {% render 'partials/category-label.liquid', text: publicatie.topic %}

            <p class="publication-date">{{ publicatie.date }}</p>

           <h3 class="publication-title sm">{{ publicatie.title }}</h3>

        </div>

          <div class="button-container-publication">
              {% render 'partials/link-href.liquid', linktext: 'DETAILS' %} 
          </div>
    </div>
    {% endfor %}
</section>

<form class="filter-system-container" method="get" action="/publicaties">
  <div class="search-bar-container">
  <div class="input-container">
      <input placeholder="" id="input" type="text">
      <label for="input">Zoek een publicatie</label> 
  </div>    
  <button class="select-filter-submit-button" id="filter-submit-button" type="submit">Zoek</button>
  </div>

  <div class="filter-btn">
    {% render 'partials/filter-button.liquid',
        select-btn-1-label: "DATUM",
        select-btn-1-name: "sort",
        select-btn-1-id: "filter-sort",
        btn-1-value-1: "DATUM",
        btn-1-label-1: "DATUM",
        btn-1-value-2: "NIEUW-OUD",
        btn-1-label-2: "NIEUW-OUD",
        btn-1-value-3: "OUD-NIEUW",
        btn-1-label-3: "OUD-NIEUW"
    %}

    {% render 'partials/filter-button.liquid',
      select-btn-1-label: "ONDERWERP",
      select-btn-1-name: "topic",
      select-btn-1-id: "filter-topic",
      btn-1-value-1: "ONDERWERP",
      btn-1-value-2: "Carrière",
      btn-1-value-3: "Webinair",
      btn-1-value-4: "Creatief",
      btn-1-value-5: "Sport"
    %}
  </div>
</form>

<div class="event-items-container">
  {% for publicatie in posts %}
  {% assign publicatie-link = "publicatie/detail-publicatie/" | append: publicatie.id %}
    {% render 'partials/event-list.liquid',
      header-level: "h3"
      card-label: publicatie.topic,
      card-title: publicatie.title,
      card-date: publicatie.date,
      card-location: publicatie.location,
      card-href-link: "events/detail-publicatie/" | append: publicatie.id
      card-href-link: publicatie-link
    %}
  {% endfor %}
</div>

{% render 'partials/partner-ad.liquid' %}

{% render 'partials/footer.liquid' %}

</main>